{
  "swagger": "2.0",
  "info": {
    "description": "The Product API will enable our hotels partners to create and edit their room types and rate plans via APIs, without having to use EPC or contact their market manager. The API also enables our partners to read the definition of the room types and rate plans created in the system. </br><br/>Use your existing EQC credentials or the following test credentials: EQCtest12933873 / cc47an46\n",
    "version": "2.0",
    "title": "Product API",
    "contact": {
      "name": "Lodging Connectivity",
      "url": "developer.expediapartnercental.com",
      "email": "lctvikings@expedia.com"
    }
  },
  "host": "services.expediapartnercentral.com",
  "basePath": "/products",
  "tags": [
    {
      "name": "Property",
      "description": "The property resource"
    },
    {
      "name": "Rate plan",
      "description": "The rate plan resource"
    },
    {
      "name": "Room type",
      "description": "Manage room types"
    },
    {
      "name": "Room type amenities",
      "description": "Manage room type amenities"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/properties": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Obtain a list of properties",
        "operationId": "getProperties",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Status filter. String. Only supported value is \"all\".",
            "required": false,
            "type": "string",
            "default": "active"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset. Integer starting at 0",
            "required": false,
            "type": "string",
            "default": "0"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit. Integer between 1 and 200.",
            "required": false,
            "type": "string",
            "default": "20"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«List«PropertyDTO»»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/properties/{propertyId}": {
      "get": {
        "tags": [
          "Property"
        ],
        "summary": "Read a single property",
        "operationId": "getProperty",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«PropertyDTO»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/properties/{propertyId}/roomTypes": {
      "get": {
        "tags": [
          "Room type"
        ],
        "summary": "Obtain a list of room types for a given property",
        "operationId": "getRoomTypes",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter. Only supported value is \"all\".",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«List«RoomTypeDTO»»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Room type"
        ],
        "summary": "Creates a new room type",
        "operationId": "createRoomType",
        "consumes": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "roomTypeDTO",
            "description": "JSON message describing the new room type",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomTypeDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«RoomTypeDTO»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/properties/{propertyId}/roomTypes/{roomTypeId}": {
      "get": {
        "tags": [
          "Room type"
        ],
        "summary": "Read a single room type from a given property",
        "operationId": "getRoomType",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID. Integer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«RoomTypeDTO»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      },
      "put": {
        "tags": [
          "Room type"
        ],
        "summary": "Modify an existing room type",
        "operationId": "updateRoomType",
        "consumes": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "roomTypeDTO",
            "description": "JSON message with modified room type",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RoomTypeDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«RoomTypeDTO»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/properties/{propertyId}/roomTypes/{roomTypeId}/amenities": {
      "get": {
        "tags": [
          "Room type amenities"
        ],
        "summary": "Read a single room type's amenities",
        "operationId": "getRoomTypeAmenities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID. Integer",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«List«RoomTypeAmenityDTO»»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      },
      "put": {
        "tags": [
          "Room type amenities"
        ],
        "summary": "Set room type amenities to an existing room type",
        "operationId": "setRoomTypeAmenities",
        "consumes": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "roomTypeAmenityDTOs",
            "description": "JSON message with the room type amenities",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RoomTypeAmenityDTO"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«List«RoomTypeAmenityDTO»»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/properties/{propertyId}/roomTypes/{roomTypeId}/ratePlans": {
      "get": {
        "tags": [
          "Rate plan"
        ],
        "summary": "Obtain a list of rate plans",
        "operationId": "getRatePlans",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Status filter. String. Only supported value is \"all\".",
            "required": false,
            "type": "string",
            "default": "active"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«List«RatePlanDTO»»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      },
      "post": {
        "tags": [
          "Rate plan"
        ],
        "summary": "Creates a new rate plan",
        "operationId": "createRatePlan",
        "consumes": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "ratePlanDTO",
            "description": "JSON message describing the new rate plan",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RatePlanDTO"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«RatePlanDTO»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    },
    "/properties/{propertyId}/roomTypes/{roomTypeId}/ratePlans/{ratePlanId}": {
      "get": {
        "tags": [
          "Rate plan"
        ],
        "summary": "Read a single rate plan",
        "operationId": "getRatePlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "ratePlanId",
            "in": "path",
            "description": "Rate plan resource ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«RatePlanDTO»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      },
      "put": {
        "tags": [
          "Rate plan"
        ],
        "summary": "Modify an existing rate plan",
        "operationId": "updateRatePlan",
        "consumes": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "ratePlanId",
            "in": "path",
            "description": "Rate plan resource ID",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "ratePlan",
            "description": "JSON message of modified rate plan",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RatePlanDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseWrapperDTO«RatePlanDTO»"
            }
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Rate plan"
        ],
        "summary": "Delete an existing rate plan",
        "operationId": "deleteRatePlan",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/vnd.expedia.eps.product-v2+json"
        ],
        "parameters": [
          {
            "name": "propertyId",
            "in": "path",
            "description": "Expedia Property ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "roomTypeId",
            "in": "path",
            "description": "Room type resource ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "ratePlanId",
            "in": "path",
            "description": "Rate plan resource ID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "security": [
          {
            "Basic": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Basic": {
      "type": "basic"
    }
  },
  "definitions": {
    "ResponseWrapperDTO«List«RoomTypeDTO»»": {
      "type": "object",
      "properties": {
        "entity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoomTypeDTO"
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO"
          }
        }
      }
    },
    "DistributionRuleDTO": {
      "type": "object",
      "required": [
        "distributionModel"
      ],
      "properties": {
        "compensation": {
          "description": "Applicable compensation rules for this distribution model. Defaults to the value defined on the contract with the partner",
          "readOnly": true,
          "$ref": "#/definitions/CompensationRuleDTO"
        },
        "distributionModel": {
          "type": "string",
          "description": "Distribution model adopted by the rate plan, matching property configuration. ExpediaCollect: indicates that when customers book this rate plan, they will pay Expedia. HotelCollect: indicates that when customers book this rate plan, they will pay the property. Note: if a product can be sold as both ExpediaCollect and HotelCollect, there will be 2 distribution rules under the rate plan to indicate this",
          "enum": [
            "HotelCollect",
            "ExpediaCollect"
          ]
        },
        "expediaId": {
          "type": "string",
          "description": "String, min 1, max 50 characters. Expedia rate plan ID that will be specified in booking messages and that should be used to manage avail/rates if this set of distribution rules is marked as manageable."
        },
        "manageable": {
          "type": "boolean",
          "example": false,
          "description": "Cannot be provided in a create request. Default to yes for HotelCollect-only or ExpediaCollect-only rate plans. For ExpediaTravelerPreference rate plans, if rate acquisition type is net, ExpediaCollect will default to true; if rate acquisition type is Sell/LAR, HotelCollect will default to true.",
          "readOnly": true
        },
        "partnerCode": {
          "type": "string",
          "description": "Unique partner identifier for the rate plan. For a given room type, this code has to be unique per distribution model (e.g. for all ExpediaCollect rate plan distribution rules under this room, this code has to be unique). Uniqueness will be validated by Expedia during create or update operations."
        }
      }
    },
    "ErrorDTO": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "PropertyAddressDTO": {
      "type": "object",
      "properties": {
        "city": {
          "type": "string",
          "description": "City in which the property is located"
        },
        "countryCode": {
          "type": "string",
          "description": "ISO 3166-1 Alpha 3 country code, for the country where the property is located"
        },
        "line1": {
          "type": "string",
          "description": "First line of address"
        },
        "line2": {
          "type": "string",
          "description": "Second line of address, not always available"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal or State Code, might not be available"
        },
        "state": {
          "type": "string",
          "description": "State/Province, which is optional and thus might not be available"
        }
      }
    },
    "RoomTypeDTO": {
      "type": "object",
      "required": [
        "ageCategories",
        "extraBedding",
        "maxOccupancy",
        "name",
        "partnerCode",
        "smokingPreferences",
        "standardBedding"
      ],
      "properties": {
        "ageCategories": {
          "type": "array",
          "description": "Defines the different age categories supported by the room type. At the very least, the 'Adult' category must be defined.",
          "items": {
            "$ref": "#/definitions/RoomTypeAgeCategoryDTO"
          }
        },
        "extraBedding": {
          "type": "array",
          "description": "Defines the configuration (type, size and quality) of any extra beds the room type may have.",
          "items": {
            "$ref": "#/definitions/BedDTO"
          }
        },
        "maxOccupancy": {
          "description": "Defines the maximum occupancy for the room, counting adults and children.",
          "$ref": "#/definitions/OccupancyDTO"
        },
        "name": {
          "description": "Formed by a [ISO 639-1]-[ISO-3166-1]. If applicable, it contains the RNS attributes used to generate the value. Max 255 characters",
          "$ref": "#/definitions/RoomTypeNameDTO"
        },
        "partnerCode": {
          "type": "string",
          "description": "Partner room type code/identifier. Max. 40 characters"
        },
        "resourceId": {
          "type": "integer",
          "format": "int64",
          "description": "Expedia ID for this resource. Generated when created. Generated on POST, required on PUT"
        },
        "roomSize": {
          "description": "Used to define room size. When used, both size in square feet and in square meters must be specified.",
          "$ref": "#/definitions/RoomSizeDTO"
        },
        "smokingPreferences": {
          "type": "array",
          "description": "Used to define whether the room type is smoking, nonsmoking, or if both options are available on request. If a single smoking option is provided, then the room is, by default, only available in this configuration. If both options are provided, then a choice will be offered to the customer at the time he makes a reservation, and the customer preference will be sent in electronic booking messages to the partner",
          "items": {
            "type": "string",
            "enum": [
              "Smoking",
              "Non-Smoking"
            ]
          }
        },
        "standardBedding": {
          "type": "array",
          "description": "Lists the different combination of beds (type, size and quality) a room may have.",
          "items": {
            "$ref": "#/definitions/BeddingOptionDTO"
          }
        },
        "status": {
          "type": "string",
          "description": "Room type status is derived from the rate plans under the room type: if at least 1 rate plan is active, the room type status will be active. If all rate plans are inactive, then the room type becomes inactive as well.",
          "enum": [
            "Active",
            "Inactive"
          ]
        },
        "views": {
          "type": "array",
          "description": "Used to indicate the views available from this room.",
          "items": {
            "type": "string",
            "enum": [
              "Bay View",
              "Beach View",
              "Canal View",
              "City View",
              "Courtyard View",
              "Desert View",
              "Garden View",
              "Golf View",
              "Harbor View",
              "Hill View",
              "Lagoon View",
              "Lake View",
              "Partial Lake View",
              "Marina View",
              "Mountain View",
              "Ocean View",
              "Partial Ocean View",
              "Park View",
              "Pool View",
              "Resort View",
              "River View",
              "Sea View",
              "Partial Sea View",
              "Valley View",
              "Vineyard View",
              "Water View"
            ]
          }
        },
        "wheelchairAccessibility": {
          "type": "boolean",
          "example": false,
          "description": "Used to indicate whether the room is configured to be wheelchair accessible or not."
        }
      }
    },
    "CancelPolicyExceptionDTO": {
      "type": "object",
      "properties": {
        "endDate": {
          "type": "string",
          "description": "Format: YYYY-MM-DD. Cancel penalty exception's end date"
        },
        "penalties": {
          "type": "array",
          "description": "Definition of the exception penalties applied",
          "items": {
            "$ref": "#/definitions/PenaltyDTO"
          }
        },
        "startDate": {
          "type": "string",
          "description": "Format: YYYY-MM-DD. Cancel penalty exception's starting date"
        }
      }
    },
    "AdditionalGuestAmountDTO": {
      "type": "object",
      "properties": {
        "ageCategory": {
          "type": "string",
          "description": "The age category for the additional guests",
          "enum": [
            "Adult",
            "ChildAgeA",
            "ChildAgeB",
            "ChildAgeC",
            "ChildAgeD",
            "Infant"
          ]
        },
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Min value 0.000, accepts up to 3 decimal points"
        },
        "dateEnd": {
          "type": "string",
          "description": "Date at which this amount will not be effective anymore. If no end date defined, will be returned as 2079-06-06."
        },
        "dateStart": {
          "type": "string",
          "description": "Date at which this amount started being applicable, can be in the past"
        }
      }
    },
    "CompensationRuleDTO": {
      "type": "object",
      "required": [
        "minAmount",
        "percent"
      ],
      "properties": {
        "exceptions": {
          "type": "array",
          "description": "Depending on the contractual agreement between Expedia and the partner, compensation can vary based on different criteria. This array of exceptions will reflect this",
          "items": {
            "$ref": "#/definitions/CompensationExceptionRuleDTO"
          }
        },
        "minAmount": {
          "type": "number",
          "format": "double",
          "description": "Minimum amount. Accepts up to 3 decimal points. Only applicable to ExpediaCollect distribution rules"
        },
        "percent": {
          "type": "number",
          "format": "double",
          "description": "Compensation percentage applied by default. Expressed as a value. Between 0 and 1, accepts up to 4 decimal points"
        }
      }
    },
    "RoomTypeAmenityDTO": {
      "type": "object",
      "required": [
        "code"
      ],
      "properties": {
        "code": {
          "type": "string",
          "description": "Uniquely identifies an amenitiy"
        },
        "detailCode": {
          "type": "string",
          "description": "Adds precision or qualifies the amenity. Mandatory for some amenity, optional for other and prohibited by the rest of the amenities."
        },
        "value": {
          "type": "integer",
          "format": "int32",
          "description": "Integer. Adds precision to the amenity. Mandatory for some amenity, optional for other and prohibited by the rest of the amenities."
        }
      }
    },
    "ResponseWrapperDTO«List«RatePlanDTO»»": {
      "type": "object",
      "properties": {
        "entity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RatePlanDTO"
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO"
          }
        }
      }
    },
    "BeddingOptionDTO": {
      "type": "object",
      "properties": {
        "option": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BedDTO"
          }
        }
      }
    },
    "ResponseWrapperDTO«List«PropertyDTO»»": {
      "type": "object",
      "properties": {
        "entity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PropertyDTO"
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO"
          }
        }
      }
    },
    "RnsAttributesDTO": {
      "type": "object",
      "properties": {
        "accessibility": {
          "type": "boolean",
          "example": false,
          "description": "Attribute that determines if room is considered wheelchair accessible"
        },
        "area": {
          "type": "string",
          "description": "Attributed used to highlight the location of the room"
        },
        "bedroomDetails": {
          "type": "string",
          "description": "Attribute that describes details of the bedroom used to compose the name of the room"
        },
        "customLabel": {
          "type": "string",
          "description": "Free text that can be appended to the name generated by the attributes. Use of this attribute is discouraged (see full spec). Max 37 characters"
        },
        "featuredAmenity": {
          "type": "string",
          "description": "Attribute used to highlight a feature of the room on its name"
        },
        "includeBedType": {
          "type": "boolean",
          "example": false,
          "description": "Attribute that determines whether or not to include bed type on the room name"
        },
        "includeSmokingPref": {
          "type": "boolean",
          "example": false,
          "description": "Attribute that determines if room has smoking preference"
        },
        "roomClass": {
          "type": "string",
          "description": "Attribute that described the class of room, which is used to compose the name"
        },
        "typeOfRoom": {
          "type": "string",
          "description": "Attribute that determines the type of room, which is used to compose the name"
        },
        "view": {
          "type": "string",
          "description": "Attribute that gives additional information about the view of the room"
        }
      }
    },
    "PenaltyDTO": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Min value 0.000 (3 decimal points). The amount provided here should be based on the property rate acquisition type. If the property rate acquisition type is Net, the rate provided here should be net of Expedia compensation. If it is SellLAR, the rate should be what the customer will be charged (inclusive of Expedia compensation). Used to define a flat amount that would be charged as a cancel or change penalty. This would normally replace a per-stay fee, but it can also be added on top of a per-stay fee if that is what the partner requires"
        },
        "deadline": {
          "type": "integer",
          "format": "int32",
          "description": "Number of hours prior to the arrival of the guest. When set to 0, it means up until end of the day of arrival. Min 0, Max 999"
        },
        "perStayFee": {
          "type": "string",
          "description": "Fee that will be charged if the customer cancels within the specified deadline.",
          "enum": [
            "None",
            "1stNightRoomAndTax",
            "2NightsRoomAndTax",
            "10PercentCostOfStay",
            "20PercentCostOfStay",
            "30PercentCostOfStay",
            "40PercentCostOfStay",
            "50PercentCostOfStay",
            "60PercentCostOfStay",
            "70PercentCostOfStay",
            "80PercentCostOfStay",
            "90PercentCostOfStay",
            "FullCostOfStay"
          ]
        }
      }
    },
    "OccupancyDTO": {
      "type": "object",
      "properties": {
        "adults": {
          "type": "integer",
          "format": "int32"
        },
        "children": {
          "type": "integer",
          "format": "int32"
        },
        "total": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RatePlanDTO": {
      "type": "object",
      "required": [
        "distributionRules",
        "name",
        "occupantsForBaseRate"
      ],
      "properties": {
        "additionalGuestAmounts": {
          "type": "array",
          "description": "Array of additional guest amounts. Up to 6 can be specified, 1 per category. Only 1 amount can be given per category, for all dates",
          "items": {
            "$ref": "#/definitions/AdditionalGuestAmountDTO"
          }
        },
        "bookDateEnd": {
          "type": "string",
          "description": "Date at which this rate plan stops being available for searching on any Expedia POS. Format YYYY-MM-DD. If not restricted, will be returned as 2079-06-06. If in 2079, indicates this rate plan book end date is unrestricted"
        },
        "bookDateStart": {
          "type": "string",
          "description": "Date at which this rate plan starts being available for searching on any Expedia POS. If in the past, indicates rate plan book date start is not restricted. Accepted format: YYYY-MM-DD. If not restricted, will be returned as 1900-01-01"
        },
        "cancelPolicy": {
          "description": "Default cancel policy. If not provided in a create request, the product API will select a refundable cancellation policy that is currently used by the most recently created standalone rate plan under the same property",
          "$ref": "#/definitions/CancelPolicyDTO"
        },
        "distributionRules": {
          "type": "array",
          "description": "Used to provide information about how this rate plan can be sold (ExpediaCollect, HotelCollect or both).",
          "items": {
            "$ref": "#/definitions/DistributionRuleDTO"
          }
        },
        "maxAdvBookDays": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum days before a stay date that the rate plan can be sold. Min 1, Max 500"
        },
        "maxLOSDefault": {
          "type": "integer",
          "format": "int32",
          "description": "Default maximum LengthOfStay restriction. Min 1, Max 28. Set to 28 by default if not provided in a create request. Will always be considered along the value defined for each stay date, and the most restrictive of this default and the daily restriction will prevail"
        },
        "minAdvBookDays": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum days before a stay date that the rate plan can be sold. Min 1, Max 500"
        },
        "minLOSDefault": {
          "type": "integer",
          "format": "int32",
          "description": "Default minimum LengthOfStay restriction. Min 1, Max 28. Set to 1 by default if not provided in a create request. Will always be considered along the value defined for each stay date, and the most restrictive of this default and the daily restriction will prevail"
        },
        "mobileOnly": {
          "type": "boolean",
          "example": false,
          "description": "Indicates this rate plan is only available through shopping done on mobile devices"
        },
        "name": {
          "type": "string",
          "description": "Name of the rate plan, for information/identification purposes. Min 1, Max 40 characters. If not provided, defaults to the manageable rate plan partner code."
        },
        "occupantsForBaseRate": {
          "type": "integer",
          "format": "int32",
          "description": "Max occupants allowed for the base rate. Min 1, Max 20. This is only applicable for per day pricing properties, and required in create requests. It indicates how many occupants the per day price applies to"
        },
        "pricingModel": {
          "type": "string",
          "description": "Rate Plan pricing model. Will default to property’s pricing model, and if provided, it has to match the property’s pricing model",
          "enum": [
            "PerDayPricing",
            "PerDayPricingByDayOfArrival",
            "OccupancyBasedPricing",
            "OccupancyBasedPricingByDayOfArrival"
          ]
        },
        "rateAcquisitionType": {
          "type": "string",
          "description": "Rate acquisition type, inherited from the Property",
          "readOnly": true,
          "enum": [
            "NetRate",
            "SellLAR"
          ]
        },
        "resourceId": {
          "type": "integer",
          "format": "int32",
          "description": "Expedia ID for this resource. Generated when created. Generated on POST, required on PUT"
        },
        "status": {
          "type": "string",
          "description": "Defaults to active if not provided during creation",
          "enum": [
            "Active",
            "Inactive"
          ]
        },
        "taxInclusive": {
          "type": "boolean",
          "example": false,
          "description": "Returned to indicate whether the rate being exchanged over other APIs (availability/rates or booking) is inclusive of taxes or not. During creation, for properties managing net rates, the default value is false. For sell rates, it is based on the property's configuration"
        },
        "travelDateEnd": {
          "type": "string",
          "description": "Latest date at which customers can checkout for a stay including this rate plan. Format YYYY-MM-DD. If not restricted, will be returned as 2079-06-06. If in 2079, indicates rate plan travel end date is not restricted"
        },
        "travelDateStart": {
          "type": "string",
          "description": "Date at which customers can start checking in for a stay including this rate plan. Format YYYY-MM-DD. If not restricted, will be returned at 1900-01-01.If in the past, indicates rate plan travel start date is not restricted"
        },
        "type": {
          "type": "string",
          "description": "Rate Plan type. Only Standalone type can be managed through the Product API. Defaults to Standalone if not provided during creation",
          "enum": [
            "Standalone",
            "Package",
            "Corporate"
          ]
        },
        "valueAddInclusions": {
          "type": "array",
          "description": "Array of value add inclusions. Value add inclusions are special features included with this rate. Breakfast, Internet, or parking inclusions are the most frequently used ones",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BedDTO": {
      "type": "object",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int64"
        },
        "size": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ResponseWrapperDTO«RoomTypeDTO»": {
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "#/definitions/RoomTypeDTO"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO"
          }
        }
      }
    },
    "ResponseWrapperDTO«RatePlanDTO»": {
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "#/definitions/RatePlanDTO"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO"
          }
        }
      }
    },
    "RoomTypeAgeCategoryDTO": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "The age category whose occupancy is being defined",
          "enum": [
            "Adult",
            "ChildAgeA",
            "ChildAgeB",
            "ChildAgeC",
            "ChildAgeD",
            "Infant"
          ]
        },
        "minAge": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum age allowed for the category. Min 0, max 99"
        }
      }
    },
    "CompensationExceptionRuleDTO": {
      "type": "object",
      "properties": {
        "dateEnd": {
          "type": "string",
          "description": "End date of the exception rule. Accepted format: YYYY-MM-DD"
        },
        "dateStart": {
          "type": "string",
          "description": "Starting date of the exception rule. Accepted format: YYYY-MM-DD"
        },
        "fri": {
          "type": "boolean",
          "example": false,
          "description": "For any exception, all 7 days of week are returned with a true/false indicator."
        },
        "minAmount": {
          "type": "number",
          "format": "double",
          "description": "Accepts up to 3 decimal points"
        },
        "mon": {
          "type": "boolean",
          "example": false,
          "description": "For any exception, all 7 days of week are returned with a true/false indicator."
        },
        "percent": {
          "type": "number",
          "format": "double",
          "description": "Between 0 and 1, accepts up to 3 decimal points"
        },
        "sat": {
          "type": "boolean",
          "example": false,
          "description": "For any exception, all 7 days of week are returned with a true/false indicator."
        },
        "sun": {
          "type": "boolean",
          "example": false,
          "description": "For any exception, all 7 days of week are returned with a true/false indicator."
        },
        "thu": {
          "type": "boolean",
          "example": false,
          "description": "For any exception, all 7 days of week are returned with a true/false indicator."
        },
        "tue": {
          "type": "boolean",
          "example": false,
          "description": "For any exception, all 7 days of week are returned with a true/false indicator."
        },
        "wed": {
          "type": "boolean",
          "example": false,
          "description": "For any exception, all 7 days of week are returned with a true/false indicator."
        }
      }
    },
    "CutOffDTO": {
      "type": "object",
      "properties": {
        "day": {
          "type": "string",
          "description": "Can be of same day or next day. Complements the time attribute",
          "enum": [
            "sameDay",
            "nextDay"
          ]
        },
        "time": {
          "type": "string",
          "description": "Indicates at which time we’ll stop making inventory available for same day reservations"
        }
      }
    },
    "RoomTypeNameDTO": {
      "type": "object",
      "properties": {
        "attributes": {
          "description": "Defines the attributes used to compose the common name for the room. You should not provide a custom name when using these attributes",
          "$ref": "#/definitions/RnsAttributesDTO"
        },
        "value": {
          "type": "string",
          "description": "The custom name provided for the room. Max. 255 characters. Not to be used in conjunction with the attributes"
        }
      }
    },
    "ResponseWrapperDTO«PropertyDTO»": {
      "type": "object",
      "properties": {
        "entity": {
          "$ref": "#/definitions/PropertyDTO"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO"
          }
        }
      }
    },
    "CancelPolicyDTO": {
      "type": "object",
      "properties": {
        "defaultPenalties": {
          "type": "array",
          "description": "Default penalties' definition. Min 1, Max 2 penalties defined",
          "items": {
            "$ref": "#/definitions/PenaltyDTO"
          }
        },
        "exceptions": {
          "type": "array",
          "description": "List os exceptional cancel penalties defined for the Rate Plan",
          "items": {
            "$ref": "#/definitions/CancelPolicyExceptionDTO"
          }
        }
      }
    },
    "ResponseWrapperDTO«List«RoomTypeAmenityDTO»»": {
      "type": "object",
      "properties": {
        "entity": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RoomTypeAmenityDTO"
          }
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDTO"
          }
        }
      }
    },
    "PropertyDTO": {
      "type": "object",
      "properties": {
        "address": {
          "description": "Property address details",
          "$ref": "#/definitions/PropertyAddressDTO"
        },
        "baseAllocationEnabled": {
          "type": "boolean",
          "example": false,
          "description": "Boolean to indicate whether this property has a base allocation contract with Expedia."
        },
        "cancellationTime": {
          "type": "string",
          "description": "Cancellation deadline reference time. When cancel policies are defined and exchanged via the rate plan resource, a deadline in hours is provided. The deadline in hours is always relative to this property cancellation deadline reference time configuration"
        },
        "currency": {
          "type": "string",
          "description": "Format: ISO 4217 Alpha 3. This currency code is applicable to all amounts found in any resources available as part of the EPS Product API."
        },
        "distributionModels": {
          "type": "array",
          "description": "Distribution model(s) under which the property is configured to work with Expedia",
          "items": {
            "type": "string",
            "enum": [
              "ExpediaCollect",
              "HotelCollect"
            ]
          }
        },
        "minLOSThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "This property configuration is used by Expedia when MinLOS Restrictions updates are received via EQC AR. If the MinLOS restriction update attempted via EQC AR is greater than this value, the update will be rejected."
        },
        "name": {
          "type": "string",
          "description": "Name describing the property. Max. 255 characters"
        },
        "partnerCode": {
          "type": "string",
          "description": "Partner property code/identifier. Max 64 characters. Optional field returned for connected properties. This code allows partner to uniquely identify the property in its system."
        },
        "pricingModel": {
          "type": "string",
          "description": "Configuration of the property when it comes to pricing rooms and rates.",
          "enum": [
            "PerDayPricing",
            "OccupancyBasedPricing"
          ]
        },
        "rateAcquisitionType": {
          "type": "string",
          "description": "Describes which type of rate will be provided via this API, but also which type of rate should be used when managing availability and rates in  ExpediaPartnerCentral or using EC or EQC APIs.",
          "enum": [
            "NetRate",
            "SellLAR"
          ]
        },
        "reservationCutOff": {
          "description": "Used to indicate when we stop making rate plans available to book for same day reservations.",
          "$ref": "#/definitions/CutOffDTO"
        },
        "resourceId": {
          "type": "integer",
          "format": "int32",
          "description": "Expedia ID for this resource. Generated when created. Generated on POST, required on PUT"
        },
        "status": {
          "type": "string",
          "description": "Status in which the property can be in; Allowed values are: Active, Inactive, Onboarding, UnderConversion",
          "enum": [
            "Active",
            "Inactive",
            "Onboarding",
            "UnderConversion"
          ]
        },
        "taxInclusive": {
          "type": "boolean",
          "example": false,
          "description": "Returned to indicate whether the rate being exchanged over other APIs (availability/rates or booking) is inclusive of taxes or not."
        },
        "timezone": {
          "type": "string",
          "description": "Descriptive information about property timezone configuration in Expedia system. Description will start by a GMT offset, followed by a friendly name."
        }
      }
    },
    "RoomSizeDTO": {
      "type": "object",
      "required": [
        "squareFeet",
        "squareMeters"
      ],
      "properties": {
        "squareFeet": {
          "type": "integer",
          "format": "int32",
          "description": "Room size in square feet. No decimals."
        },
        "squareMeters": {
          "type": "integer",
          "format": "int32",
          "description": "Room size in square meters. No decimals."
        }
      }
    }
  }
}
